<header>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <div class="header-container">
        <!-- Logo -->
        <a href="/" class="logo">
            <img src="/images/VAPEUR-logo.png" alt="VAPEUR Logo">
        </a>

        <nav>
            <ul class="nav-menu">
                <li><a href="/">Games</a></li>
                <li><a href="/add-new-game">Add a new game</a></li>
                <li><a href="/editors">Editors</a></li>
                <li><a href="/genres">Genres</a></li>
            </ul>
        </nav>

    </div>
</header>