<a href="/add-new-editor">Add a new editor</a>

<h1>List of Editors</h1>

<div id="editorList">
    {{#if editors.length}}
    {{#each editors}}
    <div class="editorInList">
        <a href="/editor/{{this.id}}" class="editorLink">
            {{this.name}}
        </a>
    </div>
    {{/each}}
    {{else}}
    <p id="noneFound">No editors found.</p>
    {{/if}}
</div>