<a href="/add-new-editor">Add a new editor</a>

<h1>List of Editors</h1>

<div id="editorList">
    {{#if editors.length}}
    {{#each editors}}
    <a href="/editor/{{this.id}}" id="editorLink">
        <div id="editorInList">
            {{this.name}} <!-- Link to editor details -->
            {{/each}}
        </div>
    </a>
</div>
{{else}}
<p id="noneFound">No editors found.</p>
{{/if}}