<h1>List of genres</h1>

<div id="genreList">
    {{#if genres.length}}
    {{#each genres}}
    <div class="genreInList">
        <a href="/genre/{{this.id}}" class="genreLink">
            {{this.name}}
        </a>
    </div>
    {{/each}}
    {{else}}
    <p id="noneFound">No editors found.</p>
    {{/if}}
</div>